body {
    background-image: url("../assets/imgs/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 90px;
    color: white
}

.css-1su9lvs-MuiPaper-root-MuiAppBar-root {
    background-color: transparent;
}

.css-19r6kue-MuiContainer-root {
    margin: none
}

.css-19r6kue-MuiContainer-root {
    max-width: none
}