.root {
    color: white;
    height: 100vh
}

.Title {
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: monospace;
    font-size: 25px
}

.NavBar {
    position: 'sticky';
    //margin: 15px;
    //border: 2px white solid;
    background-color: rgba(0, 0, 0, .90);
    height: 90px
}