.root {
    
    justify-content: center;
    margin: 30px
}

.header {
    font-family: 'BarlowCondensed-Regular';
    font-size: 30px;
    letter-spacing: 10px;
}

.title {
    font-family: 'Bellefair-Regular';
    font-size: 90px
}

.content {
    font-family: 'Barlow-Regular';
    padding-top: 10px;
    font-size: 18px;
    //border: 2px solid white;
    padding: 10px;
    //background-color: rgba(0, 0, 0, .70);
    backdrop-filter: blur(5px);
}

.avatar {
    margin-top: 80px;
    height: 250px;
    width: 250px;
}