.rootCardContainer {
    margin: 5px !important;
    background-color: transparent !important;
    
}

.rootCard {
    width: 110px; 
    height: 155px;
    justify-content: center;
    text-align: center;
    background-color: transparent !important;
    padding-top: 25px;
    color: white;
    border: 3px solid white;
}

.imageCard {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}