.rootCertifications {

}

.certificateContainer {
    margin: 15px;    
    background-color: transparent !important;
    border-radius: 3px;
}

.certificateCard {
    
}

.certificateCardDouble {

}

.certificateCardDouble img {
    border: 5px solid forestgreen;
    box-shadow:
    0 0 0 5px hsl(0, 0%, 90%);
}