.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: transparent !important;
    backdrop-filter: blur(100px) !important;
    border-right: 2px solid white !important;
    color: white !important;
}

.css-wf16b5 {
    background-color: transparent !important;
    backdrop-filter: blur(100px) !important;
    border-right: 2px solid white !important;
    color: white !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    margin-left: 240px !important;
}

.css-919eu4 {
    margin-left: 240px !important;
}