.root {
    
    
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, .90);
    background-color: rgba(0, 0, 0, .75);
    height: inherit
}

.title {
    font-family: monospace;
    font-size: 50px
}