@import url("../components/Home/Home.css");
@import url("../components/NavBar/NavBar.css");

@font-face {
    font-family: "Bellefair-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Bellefair-Regular"), url(../assets/fonts/Bellefair-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowCondensed-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("BarlowCondensed-Regular"), url(../assets/fonts/BarlowCondensed-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Barlow-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Barlow-Regular"), url(../assets/fonts/Barlow-Regular.ttf) format("truetype");
}

body {
    background-image: url("../assets/imgs/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    color: white;
}

.css-1su9lvs-MuiPaper-root-MuiAppBar-root {
    background-color: transparent;
}

.css-19r6kue-MuiContainer-root {
    margin: none;
}

.css-19r6kue-MuiContainer-root {
    max-width: none;
}