.rootHome {
    justify-content: center !important;
    margin: 30px !important;
    margin-top: 90px !important;
}

.headerHome {
    font-family: 'Barlow Condensed', sans-serif !important;
    font-size: 30px !important;
    letter-spacing: 10px !important;
}

.titleHome {
    font-family: 'Bellefair', serif !important;
    font-size: 90px !important;
}

.contentHome {
    font-family: 'Barlow', sans-serif !important;
    padding-top: 10px !important;
    font-size: 18px !important;
    padding: 10px !important;
    backdrop-filter: blur(5px) !important;
}

.avatarHome {
    height: 250px !important;
    width: 250px !important;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 10px solid transparent !important;
    outline: 3px solid white !important;
    border-radius: 50% !important;
    -moz-outline-radius: 50% !important;
}