.rootCardContainer {
    margin: 5px !important;
    background-color: transparent !important;
    backdrop-filter: blur(100px) !important;
}

.rootCard {
    width: 130px; 
    height: 170px;
    justify-content: center;
    text-align: center;
    background-color: transparent !important;
    
    color: white;
    border: 3px solid white;
    padding: 30px
}

.imageCard {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}