@import url("../../../components/Home.css");
@import url("../../../components/NavBar.css");
@import url("../../../components/Skills.css");
@import url("../../../components/Cards.css");
@import url("../../../components/Separator.css");
@import url("../../../components/Certifications.css");
@import url("../../../components/Drawer.css");
@import url("../../../components/Project.css");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

body {
  background-image: url("https://omiinaya.sirv.com/Images/background-min.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black !important;
  color: white !important;
}

h1 {
  padding-top: 0px !important;
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
}