.rootHome {
    margin: 30px !important;
    margin-top: 30px !important;
}

.titleHome {
    font-family: "Bellefair", serif !important;
    font-size: 90px !important;
    margin-bottom: 30px !important;
}

.contentHome {
    font-family: "Barlow", sans-serif !important;
    font-size: 18px !important;
    backdrop-filter: blur(5px) !important;
}

.avatarContainer {
    margin: 0 auto;
    margin-top: 90px;
    width: 250px;
    height: 250px;
    background: transparent;
    display: flex !important;
    justify-content: center;
}

.avatarBorder {
    border: 10px solid transparent !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -khtml-border-radius: 50% !important;
    box-shadow: 0 0 0 5px hsl(0, 0%, 90%);
}

.avatarBorder img {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -khtml-border-radius: 50% !important;
}
